default:
    suites:
        default:
            contexts:
                - App\Tests\Functionnal\RequestContext
                - App\Tests\Functionnal\FileContext
                - App\Tests\Functionnal\RecentTradesContext
                - App\Tests\Functionnal\MessengerContext


    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: 'App\Kernel'
                environment: 'test'